<html>
    <head>
        <title>Shopping Guide</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body class="bg-light">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid p-2 bg-dark text-light">
                    <div class="h2 text-warning"><i class="material-icons">shopping_cart	
                    </i>Shopping Guide</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 jumbotron mt-4 bg-dark text-light">
                <div class="display-4">Search<i class="material-icons"  style="font-size: 40px">search</i></div><hr>
                <form action="./product" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="productname">Product Name</label>
                        <input type="text" name="searchbox" class="form-element" style="display:block;width:100%;" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        SEARCH
                    </button>
                </form>
                <div class="row">
                    <div>
                        <a class="btn btn-success text-light p-2 ml-3 mr-2 btn-lg" id='amzoList'>Amazon Phones List</a>
                        <a class="btn btn-primary text-light p-2 mx-2 btn-lg" id="flipList">Flipkart Phones List</a>
                        <a class="btn btn-danger text-light p-2 ml-2 btn-lg" id="snapList">Snapdeal Phones List</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </body>
    <script>
      var elem = document.getElementById('amzoList').addEventListener('click',() => {
          window.open('AmazonList')
      })
      var elem1 = document.getElementById('flipList').addEventListener('click',() => {
          window.open('FlipkartList')
      })
      
  </script>
</html>