<!DOCTYPE html>
<html>
<title>Flipkart Phones List</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h1>Flipkart Phones List</h1>
  
  
  <table border="1" class="dataframe w3-table w3-striped w3-border">
   <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCT NAME</th>
      <th>PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Honor 9S ( 32GB | 2 GB ) Blue</td>
      <td>Rs.  7000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Redmi 9 Prime ( 64GB | 4 GB ) Matte Black</td>
      <td>Rs.  10799</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Samsung Galaxy M11 ( 32GB | 3 GB ) Black</td>
      <td>Rs.  11899</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Realme C2 ( 32GB | 2 GB ) Black</td>
      <td>Rs.  8499</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Redmi 9 Prime ( 64GB | 4 GB ) Space Blue</td>
      <td>Rs.  10799</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Redmi 9 Prime ( 128GB | 4 GB ) Black</td>
      <td>Rs.  12799</td>
    </tr>
    <tr>
      <th>6</th>
      <td>SAMSUNG BRAND SAMSUNG F41 ( 64GB | 6 GB ) Black</td>
      <td>Rs.  15499</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Realme C2 ( 32GB | 2 GB ) Blue</td>
      <td>Rs.  7649</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Redmi Redmi 9 Prime ( 128GB | 4 GB ) Green</td>
      <td>Rs.  11899</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Swipe Elite Star ( 16GB | 1 GB ) Black</td>
      <td>Rs.  4199</td>
    </tr>
    <tr>
      <th>10</th>
      <td>oppo brand Oppo a12 ( 64GB | 4 GB ) Blue</td>
      <td>Rs.  10999</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Samsung M01 core ( 16GB | 1 GB ) Black</td>
      <td>Rs.  7000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Redmi 9A ( 32GB | 2 GB ) Green</td>
      <td>Rs.  7399</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Lava LAVA Z66 ( 32GB | 3 GB ) Red</td>
      <td>Rs.  7999</td>
    </tr>
    <tr>
      <th>14</th>
      <td>INFINIX Hot 9 Pro ( 64GB | 4 GB ) Purple</td>
      <td>Rs.  11499</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Redmi 9i ( 128GB | 4 GB ) Midnight Black</td>
      <td>Rs.  9999</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Realme X2 ( 64GB | 4 GB ) Blue</td>
      <td>Rs.  17999</td>
    </tr>
    <tr>
      <th>17</th>
      <td>INFINIX Hot 9 Pro ( 64GB | 4 GB ) Ocean Blue</td>
      <td>Rs.  11999</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Nokia 5 ( 16GB | 2 GB ) Matte Black</td>
      <td>Rs.  7999</td>
    </tr>
  </tbody>
</table>
</div>

</body>
</html>